<header class="masthead mt-5" *ngIf="!registerMode">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Find your match</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
          Come on in to view your matches.All you need to do is sign up !  
          </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" (click)="registerToggle()">Register</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>

        </div>
      </div>
    </div>
  </header>

  <div class="d-flex justify-content-center align-items-center mt-5" *ngIf="registerMode">
    <div class="row">
          <app-register  (cancelRegister) = "cancelRegisterMode($event)"></app-register>
   </div>
</div>